@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #18364f;
    --primary-color-dark: #13293e;
    --background-color: #d6ecf5;
    --secondary-color: #ca6d6d;
    --secondary-color-dark: #b34f4f;
}

body{
    background-color: var(--background-color);
}